<!DOCTYPE html>
{% load static %}
<html>
<head>
        <link rel="stylesheet" href="{% static "css\home.css" %}"/>
        <title>Contact</title>
</head>

<body>
        <div class="topnav">
    <a href="/home">Home</a>
    <a href="#dtools">D-tools</a>
    <a href="#about">About</a>
    <a class="active" href="/peptides/contact">Contact</a>
</div>
<h3 class="contactTittle">Contact</h3>
<p class = contact-text>Your feedback is important for us.
    Send us a message for issues, feedback or requests.
</p>
<div class="container">
<div class="card">
    <div class="card-container">
        <p><pcard>Jose L. Medina-Franco</pcard></p>
        <p><a href="mailto:medinajl@gmail.com">Medina@gmail.com</a></p>
    </div>
</div>
<div class="card">
    <div class="card-container">
        <p><pcard>Barbara I. Diaz-Eufracio</pcard></p>
        <p><a href="mailto:dieb@comunidad.unam.mx">dieb@comunidad.unam.mx</a></p>
    </div>
</div>
</div>
<div class="footer">
    <p>This application was developed as part of D-Tools: Tools for cheminformatics.</p>
</div>

</html>