<!DOCTYPE html>
<html>
    <head>
        <title>Plot</title>
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" type="text/css" />
    </head>
<body>
        <h2>
                <a href="/chemspace">Back</a>
        </h2>
        <div class="container">
              {{ div | safe }}
              <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
              {{ script | safe }}
        </div>
</body>
</html>
    