<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <title>User guide</title>
    <link rel="stylesheet" href="{% static "css\mystyle.css" %}" />
</head>
<style>

</style>

<body>
    <div class="container">
        <br></br>
        <h2>User Guide</h2>
        <br></br>
    </div>
    <div class="container">
        <h3>Numerate combinatorial peptide libraries</h3>
        <h4>Fill out the form in home page</h4>
        <br>
        <h4> <b>Step 1.</b> Move the mouse over an "options" button, choose desired options from
            dropdown list</h4>
        <h4>Linear: Select amino acid dataset</h4>
        <h4>Methylated: Select amino acid with N-Methylation</h4>
        <br>
        <h4><b>Step 2.</b> From dropdown list, select a single topology, or both of them.</h4>
        <br>
        <h4><b>Step 3. </b> Select a number between 2 and 6 to set up the peptide length.</h4>
        <br>
        <h4><b>Step 4.</b> click the “Submit” button to perform the enumaration </h4>
        <br>
        <h4>Libraries will appear in a new window, like the one at next screenshot.</h4>
    </div>
</body>

</html>